# WireGuard generated configs and keys
configs/wireguard/wg_confs/*
!configs/wireguard/wg_confs/wg0.conf
configs/wireguard/server/
configs/wireguard/peer_*/
!configs/wireguard/peer_example/
configs/wireguard/coredns/
configs/wireguard/templates/

# PiHole data
configs/pihole/

# Traefik certificates
configs/traefik/

# Jellyfin config
configs/jellyfin/

# ntfy data
configs/ntfy_cache/
configs/ntfy_config/

# Speedtest tracker (legacy)
configs/speedtest-tracker/
